name: 'TSpec'
scopeName: 'tspec'
type: 'tree-sitter'
parser: 'tree-sitter-tspec'
fileTypes: ['tspec']

scopes:
  'source_file': 'source.tspec'

  '''
  type_def > "type",
  type_def > "end",
  extends_section > "extends",
  variables_section > "variables",
  invariants_section > "invariants",
  operations_section > "operations",
  require_section > "require",
  ensure_section > "ensure",
  scenarios_section > "scenarios",
  scenario_def > "end",
  given_section > "given",
  then_section > "then",
  operation_body > "end",
  conditional_expr > "if",
  conditional_expr > "then",
  conditional_expr > "else",
  case_option > "case",
  case_otherwise > "otherwise",
  infixed_expr > "and",
  infixed_expr > "or",
  infixed_expr > "implies",
  prefixed_expr > "not",
  quantified_expr > "all",
  quantified_expr > "exists",
  quantified_expr > "in",
  invocation > "invoked",
  rename_section > "rename",
  rename_statement > "as",
  redefine_section > "redefine",
  extend_body > "end",
  enum_expr > "any",
  enum_expr > "in"
  ''': 'keyword.control'

  '''
  type_def > type_id,
  type_def_param_list > type_id,
  type_constraint > type_id,
  type_ref > type_id,
  extend_def > type_id
  ''': 'entity.name.function'

  '''
  variable_def > member_id,
  invariant_def > member_id,
  operation_def > member_id,
  param_def > member_id,
  scenario_def > member_id,
  member_list > member_id,
  lambda_params > member_id,
  quantified_expr > member_id,
  invocation > member_id,
  rename_statement > member_id,
  redefine_section > member_id,
  ''': 'support.storage.type'

  '''
  instance_expr > literal_boolean
  ''': 'constant.language.boolean'

  '''
  instance_expr > literal_number
  ''': 'constant.numeric.decimal'

  '''
  instance_expr > literal_string
  ''': 'string.quoted.double'

  '''
  instance_expr > literal_symbol
  ''': 'constant.numeric.decimal'

  'comment_line': 'comment.block'
