name: 'TSpec'
scopeName: 'tspec'
type: 'tree-sitter'
parser: 'tree-sitter-tspec'
fileTypes: ['tspec']

scopes:
  'source_file': 'source.tspec'
  '''
  type_def > "type",
  type_def > type_body > extends_section > "extends",
  type_def > type_body > variables_section > "variables",
  type_def > type_body > operations_section > "operations",
  type_def > "end",
  ''': 'keyword.control'

  '''
  type_def > type_id,
  type_def > type_body > extends_section > type_id
  type_def > type_body > variables_section > variable_def > type_id
  ''': 'support.storage.type'

  '''
  type_def > type_body > variables_section > variable_def > member_id
  ''': 'variable.other.member'

  '''
  type_def > type_body > operations_section > operation_def > member_id
  ''': 'entity.name.function'
