name: 'TSpec'
scopeName: 'tspec'
type: 'tree-sitter'
parser: 'tree-sitter-tspec'
fileTypes: ['tspec']

scopes:
  'source_file': 'source.tspec'

  '''
  type_def > "type",
  type_def > "end",
  extends_section > "extends",
  variables_section > "variables",
  operations_section > "operations",
  precondition_body > "require",
  postcondition_body > "ensure",
  operation_body > "end"
  ''': 'keyword.control'

  '''
  conditional_expr > "if",
  conditional_expr > "then",
  conditional_expr > "else",
  infixed_expr > "and",
  infixed_expr > "or",
  infixed_expr > "implies",
  prefixed_expr > "not"
  ''': 'keyword.operator'

  '''
  type_header > type_id,
  type_ref > type_id,
  extend_def > type_id
  ''': 'support.storage.type'

  '''
  variable_def > member_id,
  variable_ref > member_id,
  operation_def > member_id,
  operation_param_def > member_id
  ''': 'entity.name.function'

  '''
  instance_expr > literal_boolean
  ''': 'constant.language.boolean'

  '''
  instance_expr > literal_number
  ''': 'constant.numeric.decimal'

  '''
  instance_expr > literal_string
  ''': 'string.quoted.double'

  'comment_line': 'comment.block'
